<% if signed_in?%>
<%else%>
  <div class=" container-fluid footer">
    <div class="row">
      <div class = "posición mx-auto col-md-12 mt-2" align="center">
        <p> Aquí puede usar filas y columnas para organizar el contenido del pie de página.</p>
        <div class = "footer-copyright text-center">
          <p>© 2021 Copyright:<a href="https://github.com/wjorellano/FarmaReina">Farmareina</a></p>
        </div>
      </div>
    </div>
  </div>
<%end%>
