<tr>
	<td><%= group.nombre%></td>
	<!-- <td>$ <%# @sub_total%></td> -->
	<td><%= link_to "Inventario", group_inventories_path(group)%></td>
  <td><%= link_to group, method: :delete, data: { confirm: 'Desea eliminar este grupo?' }, class: "btn btn-danger" do %><i class="far fa-trash-alt"></i><% end %></td>
</tr>
