<div class="container mt-5">
	<h2>Inventario por Grupos</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="row mt-2">
				<div class="col-md-2">
					<%= link_to new_group_path, {remote: true, class:"btn btn-primary mb-3"} do %>Nuevo grupo<%end%>
				</div>
				<div class="col-md-2">
					<%= link_to groups_path(format: 'xlsx'), class: "btn btn-success" do %>
						Generar Excel
				  	<% end %>
				</div>
			</div>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Inv total</th>
						<th>Inventario</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody><%= render @groups%></tbody>
			</table>
		</div>
	</div>
</div>
<%= render "modal_group"%>
