<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-5 col-sm-12 mx-auto mt-5  rounded">
      <h1 class="text-center">Inicia sesión en tú cuenta</h1>
      <p class="text-center">O <a href="users/signup">Registrate</a></p>
      <div class="card shadow-lg rounded-lg">
        <div class="card-body">
          <div class="box">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.input :email, required: false,
              autofocus: true,
              input_html: { autocomplete: "email" } %>
              <%= f.input :password, required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>                  
            
                  <div class="form-actions d-flex justify-content-center">
                    <button class="logbtn">Iniciar sesión</button>
                  </div>
                <% end %>

                <div class="d-flex justify-content-center">
                  <a href="users/secret/new" class="mt-3 lead">¿Olvidaste tu contraseña?</a>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

