<!-- Modal -->
<div class="modal fade" id="modalSales" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modalSales" ariahidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-sale-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-sales modal-body" id="modal-body-sales">
      </div>
    </div>
  </div>
</div>
