<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 ml-auto">
      <div>
        <h2>Total $ <%= @valor%> </h2>
      </div>
    </div>
  </div>
  <%= link_to new_sale_path, {remote: true, class: "btn btn-primary mb-4 shadow"}  do %>Agrear producto<%end%>
   <div class="row">
      <div class="col-md-12">
         <div>
            <table class="table table-bordered table-hover" id="tabla_sale">
               <thead>
                  <tr>
                     <th>Producto</th>
                     <th>Cantidad</th>
                     <th>Valor unitario</th>
                     <th>Valor</th>
                     <th>Remover</th>
                  </tr>
                  <tbody><%= render @sales%></tbody>
               </thead>
            </table>
         </div>
      </div>
   </div>
</div>
<%= render "modal_sale"%>
